.btn-c {
  margin-left: 30px;
  margin-top: 30px;
}
.btn {
  width: 120px;
  height: 40px;
  font-size: medium;
  border-radius: 5px;
  border: 1px solid;
  background-color: rgb(255, 208, 0);
  color: white;
  font-weight: bold;
}
.btn:hover {
  background-color: white;
  color: rgb(255, 208, 0);
}

.about-main {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10vh;
}
.about-main h1 {
  color: rgb(255, 208, 0);
  font-size: 60px;
}
.about-main p {
  font-size: 20px;
  font-weight: 600;
}
.about-main ul {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}
.about-main li {
  direction: ltr;
  font-weight: 500;
  font-size: 18px;
}
.developers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.developers h1{
  color: rgb(255, 208, 0);
  font-size: 60px;
  margin-bottom: 30px;
}
.developers ul{
  display: flex;
  gap: 150px;
}
.developers h2{
  font-size: 2rem;
}
