.parent{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}
.main-card{
 width: 900px;
 height: 220px;
 display: flex;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
 border-radius: 10px;
}
.card-detail-section{
    padding-top: 10px;
    padding-left: 20px;
}
.imgd{
    width: 300px;
    height: 220px;
}
.imgd img{
    width: 99%;
    height: 99%;
    border-radius: 10px;
}
.data{
    padding-left: 5px;
}
.card-details{
    display: flex;
    font-size: 1.1rem;
}
.more-details-btn{
    margin-top: 10px;
    display: flex;
    justify-content:flex-end;
}
.more-details-btn button{
    height: 40px;
    width: 160px;
    border: none;
    border-radius: 8px;
    color: rgb(0,0,0);
    font-size: 1.1rem;
    font-weight: 700;
    background-color: rgb(255,208,0);
}
.more-details-btn button:hover{
    background-color: transparent;
    border: 4px solid rgb(255,208,0);
    color: rgb(255,208,0);
}
@media (max-width:920px) {
    .parent{
        flex-wrap: wrap;
    }
    .main-card{
        flex-direction: column;
        width: 500px;
        height: max-content;
    }
    .imgd{
        width: 500px;
        height: max-content;
    }
    .more-details-btn{
        margin-top: 0;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .card-detail-section{
        padding:10px 5px;
    }
}
@media (max-width: 520px) {
    .main-card{
        width: 350px;
    }
    .imgd{
        width: 350px;
    }
    .card-detail-section{
        display: flex;
        flex-direction: column;
    }
    .card-details{
        flex-direction: column;
        text-align: justify;
    }
    .more-details-btn{
        margin-top: 10px;
        margin-bottom: 0;
    }
}