.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.main-card{
 width: 800px;
 border: 0.5px solid black;
 height: 180px;
 display: flex;
 flex-direction: row;
 box-shadow: black 3px 3px 25px;
 border-radius: 10px;
 
 
}
.imgd{
    border-right: 0.3px solid black;
    width: 200px;
    height: 180px;

}
.ot{
    color: rgb(255, 208, 0);
}